vendor
.idea
.env
/.php-cs-fixer.cache
/src/ddd/Infrastructure/PSR11/var/cache/
/src/ddd/Infrastructure/Queue/RabbitMQ/data/
phinx.php

/.phpunit.cache/
/.phpunit.result.cache
/src/ddd/Infrastructure/var/log/cohete.log
